<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManejoPresupuesto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManejoPresupuesto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="ManejoPresupuesto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="w-100 h-auto box-shadow px-2 my-2 d-flex align-content-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="w-50">
                    <a class="text-black text-decoration-none fw-bold fs-4" asp-area="" asp-controller="Transacciones" asp-action="Index">ManejoPresupuesto</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="w-50 collapse d-sm-inline-flex justify-content-between">
                    <ul class="w-75 d-flex justify-content-between align-content-center align-self-end">
                        <li class="list-unstyled">
                            <a class="nav-link text-dark text-decoration-none"  asp-controller="Transacciones" asp-action="Index">Transacciones</a>
                        </li >
                        <li class="list-unstyled">
                            
                            <a class="nav-link text-dark text-decoration-none" asp-controller="TiposCuentas" asp-action="Index">Tipos Cuentas</a>
                        </li >
                        <li class="list-unstyled">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Cuentas" asp-action="Index">Cuentas</a>
                        </li>
                        <li class="list-unstyled">
                            <a class="nav-link text-dark text-decoration-none" asp-controller="Categorias" asp-action="Index">Categorias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ManejoPresupuesto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
